.slick-dots {
    top: 92% ;
}
.slider-img{
    width: 100% !important;
    height: 345px;
}

.slick-slide{
    height:340px !important;
}
.sliderImg{
    margin:10px ;
    width: 100% !important;
    height:auto !important;
}
.sliderTitleDiv{
    padding-top:50px ;

}
.sliderTitle{
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 30px;
    font-weight: 400;
    margin-left: 35px ;
}
.sliderSubTitle{
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 16px;
    font-weight: 300;
    margin-left: 40px;
}